alias l='ls'
alias ll='ls -lah'
alias f="find . -name"
alias rmorig="find . -regex '.*\.orig$' -exec rm -vf {} \;"
alias rmdsstore="find . -regex '.*\.DS_Store$' -exec rm -vf {} \;"

alias ctags="`brew --prefix`/bin/ctags"

alias projects="cd ~/projects"
alias dotfiles="cd ~/dotfiles"


alias aliso="cd ~/projects/aliso"
alias beacons="cd ~/projects/beacons"
alias calafia="cd ~/projects/calafia"
alias scheduler="cd ~/projects/scheduler"
alias tabletop="cd ~/projects/tabletop"
alias kbs_core_domain="cd ~/projects/kbs_core_domain"
alias vendor="cd ~/projects/vendor"
alias kbs_ansible="cd ~/projects/ansible"

#USE CONTROL L
alias clear='echo "NO!"'

alias git=hub

#alias e='emacs -nw'
alias vim=nvim

#Post gres
alias pgstart='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pgstop='pg_ctl -D /usr/local/var/postgres stop -s -m fast'

alias rake_parallel='rake db:recreate && rake db:recreate RAILS_ENV=test && rake parallel:drop && rake parallel:create && rake parallel:migrate'

alias db_recreate='rake db:recreate && rake db:recreate RAILS_ENV=test'

alias tunnel_prod='ssh -L 5433:kycadmin-95.chcwltbeanhp.us-east-1.rds.amazonaws.com:5432 mwaldner@jumphost.vogogo.com'
alias tunnel_qa='ssh -L 5433:kycadmin.clmwqpoep4b9.us-west-2.rds.amazonaws.com:5432 mwaldner@qa-jumphost.vogogo.com'

alias psql_kyc_tunnel='psql -Ureadonly -d kycprod -p 5433 -h 127.0.0.1'
alias psql_vgg_tunnel='psql -Ureadonly -d vggprod -p 5433 -h 127.0.0.1'

alias tmux="TERM=screen-256color-bce tmux"
