[user]
	name = Mike Waldner
    email = mwaldner@surgeforward.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	stat = status -sb
    aa = add --all
    di = diff
    dc = diff --cached
    amend = commit --amend
	stat = status -sb
    graph = "!. ~/.githelpers && pretty_git_log"
    master = "!. ~/.githelpers && master"
    clean-branches = "!. ~/.githelpers && clean_branches"
    master-clean = "!. ~/.githelpers && master && clean_branches"
[core]
    autocrlf = input
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[merge]
	tool = opendiff
