[user]
	name = Mike Waldner
	email = mike.waldner@redfall.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	stat = status -sb
    aa = add --all
    di = diff
    dc = diff --cached
    amend = commit --amend
	stat = status -sb
    graph = "!. ~/.githelpers && pretty_git_log"
    delete-merged = "!. ~/.githelpers && delete_merged_branches"
    rebase-branch = "!. ~/.githelpers && rebase_branch $1"
[core]
    autocrlf = input
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[merge]
	tool = opendiff
