[user]
	name = Mike Waldner
	email = michael.waldner@shift.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    br = branch
    st = status -sb
    aa = add --all
    di = diff
    dc = diff --cached
    co = checkout
    amend = commit --amend
    graph = "!. ~/.githelpers && pretty_git_log"
    graphme = "!. ~/.githelpers && pretty_git_log_me"
    master = "!. ~/.githelpers && master"
    main = "!. ~/.githelpers && main"
    clean-branches = "!. ~/.githelpers && clean_branches"
[core]
    autocrlf = input
	editor = nvim
[branch]
    autosetuprebase = always
[credential]
    helper = osxkeychain
[push]
    default = simple
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[merge]
    tool = opendiff
[url "git@github.com:"]
    insteadOf = https://github.com/
[color "diff"]
	whitespace = red reverse
[color "log"]
	whitespace = red reverse
[diff]
	wsErrorHighlight = all
[log]
	wsErrorHighlight = all
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
